@implements IDisposable

@inject NavigationManager NavigationManager
@inject Services.UserService UserService

<div class="nav-item px-3">
    <AuthorizeView>
        <Authorized>

            <form action="https://localhost:7039/identity/account/logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="returnUrl" value="@currentUrl" />
                <button type="submit" class="nav-link">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout @(UserService.GetName() ?? "NoName")
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a class="nav-link" href="https://localhost:7039/identity/account/login?returnUrl=https://localhost:7056/signin-oidc">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
